<!-- <div class="custom_footer">
  <div class="col-md-12 col-xs-12 col-sm-12 row block text-white" style="margin-bottom: 0em">
    <div class="col-md-6 col-xs-12 col-sm-12">
      <div class="col-md-12 col-xs-12 col-sm-12 left-footer-row">
        Last updated {{lastUpdatedDate}}
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12 row">
        <div class="menu-item" style="padding-left: 0em"><a href="#">TERMS OF USE</a></div> |
        <div class="menu-item"><a href="#">PRIVACY STATEMENT</a></div> |
        <div class="menu-item"><a href="#">RATE THIS SITE</a></div> |
        <div class="menu-item"><a href="#">CONTACT US</a></div>
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12 left-footer-row">
        Copyright © 2018 Accounting and Corporate Regulatory Authority. All Rights Reserved.
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12 left-footer-row browser-compatibility">
        Best Viewed Using Google Chrome 66.0+, Internet Explorer 10.0+
      </div>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12"></div>
    <div class="col-md-2 col-xs-12 col-sm-12">
      <div class="col-md-12 col-xs-12 col-sm-12 logo">
        <a href="http://www.acra.gov.sg" target="_blank"><img width="60%" src="/assets/image/acra-logo-footer.png"></a>
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12 social-icons">
        <a href="https://twitter.com/ACRA_SG" target="_blank"><img width="20%"
            style="background-color:white; padding: 0.1em; margin: 1em 0.5em 0em 0em;"
            src="/assets/image/twitter.png"></a>
        <a href="https://www.facebook.com/SG.ACRA" target="_blank"><img width="20%"
            style="background-color:white; padding: 0.1em; margin: 1em 0.5em 0em 0em;"
            src="/assets/image/facebook.png"></a>
      </div>

    </div>
  </div>

</div>


<footer>
  <div class="container">
    <a class="logo-font" routerLink="/">conduit</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}.
      An interactive learning project from <a href="https://thinkster.io">Thinkster</a>.
      Code licensed under MIT.
    </span>
  </div>
</footer> -->


<!-- <div class="push">
  <span></span>
  <span></span>
  <span></span>
</div> -->
<div style="display: flex;">
  <mat-toolbar class="bottom">
    <div fxLayout="column" class="footerStart">
      <nav fxLayoutAlign="center" class="bottomNavigation">
        <ul fxLayout>
          <a href="#">
            <li><span class="inside_list">Terms of use</span> |</li>
          </a>
          <a>
            <li><span class="inside_list">Privacy statement</span> |</li>
          </a>
          <a>
            <li><span class="inside_list">Rate this site</span> |</li>
          </a>
          <a>
            <li id="lastTag"><span class="inside_list">Contact us</span></li>
          </a>
        </ul>
      </nav>
      <span fxLayout fxLayoutAlign="center">Copyright &copy; 2018 Accounting and Corporate Regulatory Authority. All Rights Reserved.</span>
    </div>

    <div id="toggleBottom" class="footerEnd">
      <img src='../../../assets/image/acra-logo-footer.png' alt="Footer Logo" height="50px" width="100px">
      <a href="https://www.facebook.com/SG.ACRA" target="_blank" class="fa fa-facebook"></a>
      <a href="https://twitter.com/ACRA_SG" target="_blank" class="fa fa-twitter"></a>
    </div>
  </mat-toolbar>
</div>
<!-- </div> -->
